<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semerson.networkassessment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Launching Activity -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterUserActivity" />
        <activity
            android:name=".activities.Results.ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.awareness.UserAwareness"
            android:label="@string/title_activity_user_awareness"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NetworkScanner" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.Results.MainNavigationFragments.home.singleview.PieChartDetailsActivity" />
        <activity android:name=".service.YoutubeActivity" />
        <activity
            android:name=".activities.Results.MainNavigationFragments.home.singleview.VulnerabilityFilterMitigationType"
            android:label="@string/title_activity_vulnerability_filter_mitigation_type"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>